html, body {
    margin: 0;
    padding: 0;
    background-color: #223d73;
    color: white;
    font-family: 'Raleway', sans-serif;
}

img {
    max-width: 100%;
}

.header-container {
    background-color: #132240;
    border-bottom: 4em solid #3966bf;
}

.logo-container {
    display: block;
    margin: 2em 0;
    color: #728cbf;
}

.logo-icon {
    float: left;
    margin-right: 1em;
}

.logo-icon img {
    height: 65px;
}

.centered-logo {
    margin-left: auto;
    margin-right: auto;
}

.body-container {
    background-color: white;
    color: #3966bf;
    height: 100%;
}

.footer-container {
    background-color: #132240;
    color: white;
    padding: 2em 0;
}